.main_usersview {
  margin-top: 1.7rem;
  font-size: 1rem;
}
.view_span {
  color: #ff5403;
}
.users_intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  margin-bottom: 3rem;
}

.days-container {
    display: flex;
    padding-top: .5rem;
  }
  
  .days-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    border: 1px solid lightgray;
    margin-right: 10px;
    font-weight: bold;
    color: #666;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 2rem;
  }
  
  .days-container > div:last-child {
    margin-right: 0;
  }
  
  .all-time {
    background-color: #FFDDCD;
    border: 1px solid #FF5403;
  }
  
  .other-time:hover {
    border: 1px solid #666;
    cursor: pointer;
  }
  
