.days-container {
    display: flex;
  }
  
  .days-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    border: 1px solid lightgray;
    margin-right: 10px;
    font-weight: bold;
    color: #666;
    padding-left: 1rem;
    border-radius: 2rem;
  }
  
  .days-container > div:last-child {
    margin-right: 0;
  }
  
  .all-time {
    background-color: #FFDDCD;
    border: 1px solid #FF5403;
  }
  
  .other-time:hover {
    border: 1px solid #666;
    cursor: pointer;
  }
  