.donut_container {
  display: flex;
  justify-content: start;
  margin-top: 2rem;
  background: #ffffff;
  gap: 2rem;
}

.top_location {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #eff1f6;
  border-radius: 12px;
  text-align: left;
  width: 50%;
}

.top_location_spans {
  display: flex;
  justify-content: space-between;
}

.top_location .donut_location {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 1rem .5rem;
  gap: 1rem;
  text-align: left;
}

.donut_location_color {
  width: 12px;
  height: 12px;
  border-radius: 100px;
}
.donut_location_img img{
  width: 14px;
  height: 14px;
}
.donut_image{
  width: 14px;
  height: 14px;
  padding: 2rem;
  /* border: 1px solid red; */
}
.diplay_donut{
  display: flex;
  align-items: baseline;
}