.MainDash{
    /* padding-top: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.MainDash h1{
    width: 98px;
height: 24px;

/* Heading/Small 2 */

font-family: 'Söhne';
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

letter-spacing: -0.015em;

/* Primary/Black */

color: #131316;
}
@media screen and (max-width: 1200px) {
    .MainDash{
        justify-content:flex-start;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px)
{
    .MainDash{
        align-items: center;
    }
}
